# Configuration created by Apache Sling JCR Installer
defaultAutoCommit="Default"
maxIdle=I"100"
initSQL=""
validationQueryTimeout=I"-1"
minEvictableIdleTimeMillis=I"60000"
driverClassName="com.mysql.jdbc.driver"
username="root"
password="root"
testOnBorrow=B"false"
maxWait=I"30000"
url="jdbc:mysql://localhost:3306"
connectionProperties=""
datasource.name="my\ database"
testWhileIdle=B"false"
maxActive=I"100"
jdbcInterceptors="StatementCache;SlowQueryReport(threshold\=10000);ConnectionState"
timeBetweenEvictionRunsMillis=I"5000"
initialSize=I"10"
validationInterval=I"30000"
testOnReturn=B"false"
datasource.svc.prop.name="datasource.name"
defaultTransactionIsolation="Default"
validationQuery=""
logValidationErrors=B"true"
maxAge=I"0"
datasource.svc.properties=[""]
defaultReadOnly="Default"
defaultCatalog=""
minIdle=I"10"
