<h1>Link and Path</h1> <br>
<h5>Link:<a>${Properties.linkURL}</a></h5> <br>
<h5>Path:<a>${Properties.pathImage}</a></h5>

<script>
	function new(){
        alert("Hello, this is an alert!");


        var message = "This is a dynamic message!";
        alert(message);


        var userResponse = confirm("Do you want to continue?");
        if (userResponse) {
            alert("You clicked OK!");
        } else {
            alert("You clicked Cancel!");
        }
        }
        new();
   </script>