
  .event_container {
        display: flex;
        max-width: 250px;
        margin-top:10px;
        margin-bottom:10px;
        text-align: center;
        overflow-y: scroll;
    	height: 400px;
		box-shadow: 10px 0 7px rgba(0, 0, 0, 0.1);
		background-color: #f1f1f1;
    }

    .event_sidebar {
        width: 250px;
        padding: 5px;


    }

    .event_main-content {
        flex-grow: 1;

    }

    .event_sidebar ul {
        list-style: none;
        padding-top: 20px

    }

   .event_sidebar li {
        margin-bottom: 15px;
        border-bottom:1px solid #c6c1c1;
    }

    .event_sidebar a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .event_sidebar p {
        margin: 0;
    }

    .event_no-events {
        color: red;
    }
	.event_sidebar h2{
		color:green;
		border: 1px solid #c6c1c1;
        background-color:#c6c1c1;
    }

