
*{
    margin:0;
	padding:0;
	box-sizing:border-box;

}
div a:hover{
	
   text-decoration:underline;
}

	.footer_container
    {
                display: flex;
                justify-content:center;
                padding: 0px 8rem 0 2rem;
				background:#2e2e2e;
				color:white;
	 }
	.heading{
    	   font-weight:300;
	  }
	.footer_container a{
		   color:#999;
      }
	.footer_container2{
    	flex:1 0;
        display:flex;
        flex-direction:column;
        row-gap:0.3rem;
        }

   @media screen and (max-width:650px){
	.footer_container{
		flex-direction:column;
        padding:0px;
	}

	.heading{
	    font-size:1.2rem
	}
  .footer_container2{
	    border-bottom:1px solid #999;
	    padding-left:2rem;

  }

}